<!doctype html>
<html>
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

                <title>{{ .config.Title }}</title>

                <link rel="stylesheet" href="dist/reset.css">
		<link rel="stylesheet" href="dist/reveal.css">
		<link rel="stylesheet" href="dist/theme/{{ .config.Theme }}.css">

                <!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="plugin/highlight/monokai.css">

                <!-- Printing and PDF exports -->
                <script>
                        var link = document.createElement( 'link' );
                        link.rel = 'stylesheet';
                        link.type = 'text/css';
                        link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
                        document.getElementsByTagName( 'head' )[0].appendChild( link );
                </script>
        </head>
        <body>
                <div class="reveal">
                        <div class="slides">
{{ range $i, $section := .sections }}
{{ $section }}
{{ end }}
                        </div>
                </div>

                <script src="dist/reveal.js"></script>
                
                <!-- Plugins -->
                <!-- https://revealjs.com/plugins/#built-in-plugins -->
                <script src="plugin/highlight/highlight.js"></script>
		<script src="plugin/markdown/markdown.js"></script>		
                <script src="plugin/search/search.js"></script>
                <script src="plugin/notes/notes.js"></script>
                <script src="plugin/math/math.js"></script>
                <script src="plugin/zoom/zoom.js"></script>

                <script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
                        Reveal.initialize({
                                {{ range $k, $v := .config.RevealJSConfig -}}
                                {{ $k }}: {{ $v }},
                                {{ end }}
                        });
                </script>
        </body>
</html>