<!doctype html>
<html>
        <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{{ .config.Title }}</title>

		<link rel="stylesheet" href="dist/reset.css">
		<link rel="stylesheet" href="dist/reveal.css">
		<link rel="stylesheet" href="dist/theme/black.css">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="plugin/highlight/monokai.css">
        </head>
        <body>
                <div class="reveal">
                        <div class="slides">
{{ range $i, $section := .sections }}
{{ $section }}
{{ end }}
                        </div>
                </div>

		<script src="dist/reveal.js"></script>
		<script src="plugin/notes/notes.js"></script>
		<script src="plugin/markdown/markdown.js"></script>
		<script src="plugin/highlight/highlight.js"></script>
		<script src="plugin/zoom/zoom.js"></script>

                <script>
                        // More info about config & plugins:
                        // - https://revealjs.com/config/
                        // - https://revealjs.com/plugins/
                        Reveal.initialize({
                                {{ range $k, $v := .config.RevealJSConfig -}}
                                {{ $k }}: {{ $v }},
                                {{ end }}
                        });
                </script>
        </body>
</html>